<html lang="en">
  <head>
  </head>
  <body>
    <div class="container">
      <h1 class="featurette-heading-blue">Contact Blueprint</h1>
      <br>
      <br>
      <div class="row-fluid">
        <div class="span6">
          <%= render 'form' %>
        </div>
        <div class="span3">
          <div class="well sidebar-nav">
            <h4>Contact Information</h2>
            <dl>
              <dt>General Questions</dt>
              <dd class="paragraph-font-small">calblueprint.gmail.com</dd>
            </dl>
          </div><!--/.well -->
        </div><!--/.span3 -->
      </div><!--/.row-fluid -->
    </div><!--/.container -->
  </body>
  <hr class="featurette-divider">
</html>