<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1">
      <h1 class="featurette-heading-blue">Student Application</h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span7 offset1">
			<%= render :partial => 'form' %>
    </div>
  </div><!--/.row-fluid -->
<hr class="featurette-divider">
</div><!--/.container -->