.row-fluid
  .span12
    - if errors.any?
      #error_explanation.alert.alert-error
        h2.text-heading-blue.featurette-heading-smaller
          = pluralize(errors.count, "error")
          | prohibited this from being submitted:
        p.paragraph-font
        ul
          - errors.full_messages.each do |msg|
            li= msg
      br/
