<div class="container">
  <%= render partial: "shared/errors", locals: {errors: errors} %>
  <div class="row">
    <div class="span12">
      <% if Symbol.all_symbols.include? :form_title %>
        <h1 class="title"><%= yield(:form_title) %></h1>
      <% end %>
      <%= render partial: yield(:form_partial) %>
    </div>
  </div>
</div>
