
      <div id="calendar">
        <h2 id="month">
          <%= link_to("<", {:action => 'calendar', :month => (@date.beginning_of_month-1).strftime("%Y-%m-1")}) %>
          <%=h @date.strftime("%B %Y") %>
          <%= link_to(">", {:action => 'calendar', :month => (@date.end_of_month+1).strftime("%Y-%m-1")}) %>
        </h2>
        <% calendar_for @events do |calendar| %>
          <% calendar.day(:day_method => :date) do |date, events| %>
            <%= date.day %>
          <% end %>
        <% end %>
      </div>
