<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1">
      <h1 class="featurette-heading-blue">Update an Event</h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span7 offset1">

      <p class="paragraph-font">
        Update an event for Blueprint.
      </p>
      <br>
      <%= form_for(@event, :url => {:action => 'update'}) do |form| %>

      <%= render(:partial => 'form', :locals => {:form => form}) %>

      <%= form.submit "Update Event" %>
      <% end %>

    </div>
  </div><!--/.row-fluid -->
<hr class="featurette-divider">
</div><!--/.container -->