= form_for [:admin, @project], :html => { :multipart => true, :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :semester, :class => 'control-label'
    .controls
      = f.select :semester_id, Semester.choices
  .control-group
    = f.label :client, :class => 'control-label'
    .controls
      = f.text_field :client, :class => 'text_field'
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :app_type, class: "control-label"
    .controls
      = f.text_field :app_type, class: "text_field"
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area', :rows => 5
  .control-group
    = f.label :link, :class => 'control-label'
    .controls
      = f.text_field :link, :class => 'text_field'
  .control-group
    = f.label :cover_photo, :class => 'control-label'
    .controls
      = f.file_field :image, :class => 'file_field'
    br/
    .controls
      = image_tag @project.image.url, :width =>"300px;"
  .control-group
    - @project.project_photos.each_with_index do |photo, index|
      = f.fields_for :project_photos, photo do |pp|
        = pp.label :image, class: "control-label"
        .controls
          = pp.file_field :image, class: "file_field"
        br/
        .controls
          = image_tag photo.image.url, width: "300px;"
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), \
      admin_projects_path, :class => 'btn'                         \
