<!-- Carousel
================================================== -->
<div class="container home">
  <div>
    <img src="assets/blueprint_front.png" alt="">
    <div class="apply">
      <!--<center><a class="btn-large btn-primary" href="<%=join_path%>">Application coming soon</a></center> -->
    </div>
  </div>
  <div>
    <img src="assets/blueprint_website_info.png" alt="">
  </div>
  <div>
    <img src="assets/mission.png" alt="">
  </div>
</div>
<hr class="featurette-divider">
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->