<div class="container home">
  <center>
    <div class="remove-979">
      <img src="assets/blueprint_front.png" alt="">
    </div>
<!--     <div>
      <img src="assets/blueprint_back.png" alt="">
    </div> -->
    <br>

    <br>
    <br>
    <div>
      <img src="assets/mission.png" alt="">
    </div>
  </center>
</div>