<div class="row-fluid">
  <div class="span11">
    <p class="text-heading-yellow heading-mission">
      Blueprint's mission is to make beautiful engineering accessible
      and useful for those who create communities and promote public welfare.
    </p>
  </div>
</div>
<br>
<br>
<div class="row-fluid">
  <div class="span8">
    <h2 class="text-heading-blue featurette-heading-smaller">Vision</h2>
    <p class="paragraph-font">
      Blueprint envisions a world where the good, passionate, and visionary
      have the biggest impact on our communities and society.
    </p>
    <br>
    <h2 class="text-heading-blue featurette-heading-smaller">History</h2>
    <p class="paragraph-font">
      Blueprint was founded in late 2012 by Berkeley students who saw a fit
      between the talent of university students and the need of the community
      around them. Spring 2013 will be the
      organization's launch and we are looking forward to meeting talented
      students and talented community builders.
    </p>
    <br>
    <h2 class="text-heading-blue featurette-heading-smaller">What We Do</h2>
    <p class="paragraph-font">
      Blueprint is a non-profit organization aimed at bringing
      technologies to local nonprofit organizations that are making social
      change. We want to aid and be part of the group of community builders
      who are doing meaningful productive work.
      Each semester, teams of five students work with non-profit organizations to
      implement technologies for efficiency and accessibility. Although we help
      bring all types of technology to the non-profit world, this spring Blueprint
      is focusing on developing software through web applications for non-profit
       organizations.
    </p>
  </div>
  <div class="span3">
    <div class="well sidebar-nav">
      <h4>Blueprint Facts</h2>
      <dl>
        <dt>Founded</dt>
        <dd class="paragraph-font-small">November 3, 2012</dd>
        <dd class="paragraph-font-small"><a href="/blueprint_constitution.pdf">Constitution</a></dd>
        <br>
        <dt>Founders</dt>
        <dd class="paragraph-font-small">Jae Young Ryoo</dd>
        <dd class="paragraph-font-small">Kenneth Gao</dd>
        <dd class="paragraph-font-small">Shirley Liu</dd>
        <dd class="paragraph-font-small">Kevin Gong</dd>
        <dd class="paragraph-font-small">Noel Moldvai</dd>
        <br>
        <dt>Faculty Sponsors</dt>
        <dd class="paragraph-font-small">David Patterson</dd>
        <dd class="paragraph-font-small">Armando Fox</dd>
        <dd></dd>
        <br>
        <dt>Located</dt>
        <dd class="paragraph-font-small"><a href="http://www.berkeley.edu">University of California, Berkeley</a></dd>
        <br>
        <dt>Resources</dt>
        <a href="https://github.com/calblueprint"><img src="assets/Octocat.png" class="img-link-icons fade-in"/></a>
        <a href="https://www.facebook.com/CalBlueprint"><img src="assets/f_logo.png" class="img-link-icons fade-in"/></a>
        <br>
        <br>
        <dt>Partners</dt>
        <a href="http://theberkeleygroup.org/"><img src="assets/TBG.png" class="img-link-icons fade-in"/></a>
      </dl>
    </div><!--/.well -->
  </div><!--/.span3 -->
</div><!--/.row-fluid -->