<html lang="en">
  <head>
  </head>
  <body>
    <div class="container">
      <h1 class="featurette-heading-blue">About Blueprint</h1>
    </div>
    <hr class="featurette-divider">
    <div class="container team">
      <h1 class="featurette-heading">The Team</h1>
      <div class="row-fluid">
        <div class="span2">
          <img src="assets/jay_ryoo.jpg" alt="">
        </div>
        <div class="span2">
          <img src="assets/kevin_gong.jpg" alt="">
        </div>
        <div class="span2">
          <img src="assets/shirley_liu.jpg" alt="">
        </div>
        <div class="span2">
          <img src="assets/kenneth_gao.jpg" alt="">
        </div>
        <div class="span2">
          <img src="assets/noel_moldvai.jpg" alt="">
        </div>
      </div>
      <div class="row-fluid">
        <div class="span2">
          <img src="assets/omer_spillinger.jpg" alt="">
        </div>
        <div class="span2">
          <img src="assets/michelle_chow.jpg" alt="">
        </div>
        <div class="span2">
          <img src="assets/brian_wong.jpg" alt="">
        </div>
        <div class="span2">
          <img src="assets/joshua_primas.jpg" alt="">
        </div>
        <div class="span2">
          <img src="assets/gray_box.jpg" alt="">
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="container">
      <h1 class="featurette-heading">Constitution</h1>
    </div>
  </body>
</html>