<div class="container about">
  <br>
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class = "active">
        <a href="#info" data-toggle="tab">Info</a>
      </li>
      <li class="">
        <a href="#team" data-toggle="tab">Team</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="info">
        <%= render :partial => 'info' %>
      </div> <!--/.TAB1 -->
      <div class="tab-pane team" id="team">
        <br>
        <div class="row-fluid">
          <div class="span11">
            <% @team.each do |row| %>
              <div class="row-fluid">
                <%= render :partial => 'member', :collection => row %>
              </div>
            <% end %>
          </div>
        </div>
      </div><!--/.TAB2 -->
    </div><!--/.tab-content -->
  </div><!--/.tabbable -->
  <hr class="featurette-divider">
</div><!--/.container -->