<div class="container-fluid">
  <div class="row-fluid">
    <div class="span10 offset1">
      <h1 class="featurette-heading-blue">About Blueprint</h1>
    </div>
  </div>
  <br>
  <br>
  <div class="row-fluid">
    <div class="span10 offset1">
      <p class="text-heading-yellow heading-mission">
        Blueprint's mission is to make beautiful engineering accessible
        and useful for those who create communities and promote public welfare.
      </p>
    </div>
  </div>
  <br>
  <br>
  <div class="row-fluid">
    <div class="span7 offset1">
      <h2 class="text-heading-blue featurette-heading-smaller">Vision</h2>
      <p class="paragraph-font">
        Blueprint envisions a world where the good, passionate, and visionary
        have the biggest impact on our communities and society.
      </p>
      <br>
      <h2 class="text-heading-blue featurette-heading-smaller">History</h2>
      <p class="paragraph-font">
        Blueprint was founded in late 2012 by Berkeley students who saw a fit
        between the talent of university students and the need of the community
        around them. Spring 2013 will be the
        organization's launch and we are looking forward to meeting talented
        students and talented community builders.
      </p>
      <br>
      <h2 class="text-heading-blue featurette-heading-smaller">What We Do</h2>
      <p class="paragraph-font">
        Blueprint is a non-profit organization aimed at bringing
        technologies to local nonprofit organizations that are making social
        change. We want to aid and be part of the group of community builders
        who are doing meaningful productive work.
        Each semester, teams of five students work with non-profit organizations to
        implement technologies for efficiency and accessibility. Although we help
        bring all types of technology to the non-profit world, this spring Blueprint
        is focusing on developing software through web applications for non-profit
         organizations.
      </p>
    </div>
    <div class="span3">
      <div class="well sidebar-nav">
        <h4>Blueprint Facts</h2>
        <dl>
          <dt>Founded</dt>
          <dd class="paragraph-font-small">November 3, 2012</dd>
          <br>
          <dt>Founders</dt>
          <dd class="paragraph-font-small">Jae Young Ryoo</dd>
          <dd class="paragraph-font-small">Kenneth Gao</dd>
          <dd class="paragraph-font-small">Shirley Liu</dd>
          <dd class="paragraph-font-small">Kevin Gong</dd>
          <dd class="paragraph-font-small">Noel Moldvai</dd>
          <br>
          <dt>Faculty Sponsors</dt>
          <dd></dd>
          <br>
          <dt>Located</dt>
          <dd class="paragraph-font-small"><a href="http://www.berkeley.edu/index.html">University of California, Berkeley</a></dd>
          <br>
          <dt>Resources</dt>
          <dd>
            <a href="https://github.com/calblueprint"><img src="assets/Octocat.png" class="img-link-icons fade-in"/></a>
            <a href="https://www.facebook.com/CalBlueprint"><img src="assets/f_logo.png" class="img-link-icons fade-in"/></a>
          </dd>
        </dl>
      </div><!--/.well -->
    </div><!--/.span3 -->
  </div><!--/.row-fluid -->
</div><!--/.container -->

<hr class="featurette-divider">
<div class="container-fluid constitution">
  <h1 class="featurette-heading text-center">Constitution</h1>
  <h2 class="featurette-heading-small text-center"> Ratified: November 3, 2012 </h2>
  <div class="row-fluid">
    <div class="span10 offset1">
      <h2 class="text-constitution-article"> ARTICLE I </h2>
        <p class="paragraph-font">
          This Constitution recognizes the official name of the organization
          of which it represents as ``Blueprint". This Constitution recognizes
          that the organization may also be named under
          "Blueprint, Technology for Nonprofits".
        </p>
      <br>
      <h2 class="text-constitution-article"> ARTICLE II </h2>
        <h3 class="text-constitution-section"> Section 1 </h3>
          <p class="paragraph-font">
            We the members of Blueprint, adhere to and embody our mission to make
            beautiful engineering accessible and useful for those who create
            communities and promote public welfare.
          </p>
        <br>
        <h3 class="text-constitution-section"> Section 2 </h3>
          <p class="paragraph-font">
            We the members of Blueprint pursue our mission with the vision of a world
            where the good, passionate, and visionary have the biggest impact on our
            communities and society.
          </p>
      <br>
      <h2 class="text-constitution-article"> ARTICLE III </h2>
        <h3 class="text-constitution-section"> Section 1 </h3>
          <ol>
            <li class="paragraph-font"> Only currently registered students, faculty,
              and staff may be active members in a registered student organization.
              Only active members may vote or hold office.
            </li>
            <br>
            <li class="paragraph-font"> We will not restrict membership based upon
              race, color, national origin, religion, sex, physical and mental disability,
              medical condition (cancer-related or genetic characteristics), ancestry,
              marital status, age, sexual orientation, citizenship or status as a covered
              veteran (special disabled veteran, Vietnam-era veteran or any other veteran
              who served on active duty during a war or in a campaign or expedition for
              which a campaign badge has been authorized).
            </li>
            <br>
            <li class="paragraph-font"> The membership is chosen every Friday of the fourth
              week of the semester by the Executive Committee.
            </li>
            <br>
            <li class="paragraph-font"> We will not haze according to California State Law.
            </li>
          </ol>
        <br>
        <h3 class="text-constitution-section"> Section 2 </h3>
          <ol>
            <li class="paragraph-font">
              All active members must sign a contract and pay dues by the fifth week of each
              semester. Both the contract contents and due amounts will be determined by the
              Executive Committee.
            </li>
            <br>
            <li class="paragraph-font">
              The Executive Committee has the ability to withdraw membership from any member
              if he or she shows regular violation of the contract. The contract includes, but
              is not limited to, the requirements of active membership, including participation
              in mandatory events and weekly work commitments.
            </li>
          </ol>
      <br>
      <h2 class="text-constitution-article"> ARTICLE IV </h2>
        <h3 class="text-constitution-section"> Section 1: Executive Committee </h3>
          <ol>
            <li class="paragraph-font">
              The Executive Committee shall be composed of a President, Vice President of
              Operations, Vice President of Projects, Vice President of Technology, and Vice
              President of Finance and Marketing chosen at the end of the previous semester by
              the Executive Committee of the previous semester.
            </li>
            <br>
            <li class="paragraph-font">
              Consent of the Executive Committee is when four-fifths of its members agree.
              The quorum for decision making is four.
            </li>
            <br>
            <li class="paragraph-font">
              When vacancies happen in the Executive Committee, the Executive Committee is
              responsible to fill such vacancies. When vacancies happen in project groups,
              the Executive Committee is responsible to fill such vacancies.
            </li>
            <br>
            <li class="paragraph-font">
              The Executive Committee may determine the rules of its proceedings, punish its
              members for disorderly behavior, and, with the concurrence of four-fifths, expel a
              member.
            </li>
          </ol>
        <br>
        <h3 class="text-constitution-section"> Section 2: President </h3>
          <ol>
            <li class="paragraph-font">
              The President shall serve as the chief representative of Blueprint and its
              Executive Committee; (s)he shall serve as the main curator and protector of
              the mission and vision of Blueprint; (s)he shall monitor the health and
              well-being of Blueprint, and shall take care that the decisions of the Executive
              Committee be faithfully executed.
            </li>
            <br>
            <li class="paragraph-font">
              No person shall be appointed to the office of the President more than twice.
            </li>
            <br>
            <li class="paragraph-font">
              The President shall serve as the main facilitator in any meeting for Blueprint.
            </li>
            <br>
            <li class="paragraph-font">
              The President shall have the power to convene the Executive Committee for meetings.
            </li>
            <br>
            <li class="paragraph-font">
              The President shall have the power to delegate tasks in order to accomplish goals
              set forth by the Executive Committee.
            </li>
            <br>
            <li class="paragraph-font">
              The President shall at the beginning of the semester give to the general membership
              information of the state and the direction of Blueprint, and every general membership
              meeting give to the general membership updates on the state and direction.
            </li>
            <br>
            <li class="paragraph-font">
              The President shall, with the advice and consent of the Executive Committee, commission
              all of the advisors of Blueprint.
            </li>
            <br>
            <li class="paragraph-font">
              The President shall be responsible for carrying out any other duties as consented upon by
              the Executive Committee.
            </li>
          </ol>
        <br>
        <h3 class="text-constitution-section"> Section 3: Vice President of Operations </h3>
          <ol>
            <li class="paragraph-font">
              The Vice President of Operations shall serve as the director and manager of social and
              professional activities.
            </li>
            <br>
            <li class="paragraph-font">
              No person shall be appointed to the office of the Vice President of Operations more than twice.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Operations shall be responsible for obtaining facilities
              for meetings and activities of the Executive Committee.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Operations shall assume the duties of the President in
              the event of the resignation, recall, or temporary or permanent disability of
              the President to perform his/her duties, until such time as a replacement is
              selected or elected.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Operations shall, with the consent of the Executive
              Committee, create chair positions in order to accomplish the appointed tasks.
              Chairs are considered active members but not members of the Executive Committee.
              The appointment, selection, and management of those chairs are the sole
              responsibility of the Vice President of Operation.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Operations shall be responsible for carrying out any other
              duties as consented upon by the Executive Committee.
            </li>
          </ol>
        <br>
        <h3 class="text-constitution-section"> Section 4: Vice President of Marketing and Finance </h3>
          <ol>
            <li class="paragraph-font">
              The Vice President of Marketing and Finance shall be responsible for management
              of the budget, distribution of funds, and fundraising.
            </li>
            <br>
            <li class="paragraph-font">
              No person shall be appointed to the office of the Vice President of Marketing
              and Finance more than twice.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Marketing and Finance shall, within the fourth week of
              the semester, direct a meeting of the Executive Committee to propose and discuss
              a budget for the semester. The budget must gain consent of the Executive Committee
              to be placed in effect. The Vice President of Marketing and Finance is responsible
              for making sure that the budget is followed and not exceeded.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Marketing and Finance shall have the power to deny spending
              that exceeds the budget.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Marketing and Finance shall be the main curator of the brand
              of Blueprint. (S)he shall keep the brand and the branding guideline current and useful.
              The enforcement and protection of the brand of Blueprint is, with the help from the
              Executive Committee, the responsibility of The Vice President of Marketing and Finance.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Marketing and Finance shall, with the advice and consent of the
              Executive Committee, create a marketing plan for recruitment of members and clients
              by the first week of the semester.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Marketing and Finance shall, with the consent of the Executive
              Committee, create chair positions in order to accomplish the appointed tasks. Chairs
              are considered active members but not members of the Executive Committee. The appointment,
              selection, and management of those chairs are the sole responsibility of the Vice President
              of Marketing and Finance.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Marketing and Finance shall be responsible for carrying out any other
              duties as consented upon by the Executive Committee.
            </li>
          </ol>
        <br>
        <h3 class="text-constitution-section"> Section 5: Vice President of Projects </h3>
          <ol>
            <li class="paragraph-font">
              The Vice President of Projects shall be responsible for the management of project
              groups and relations with client organizations.
            </li>
            <br>
            <li class="paragraph-font">
              No person shall be appointed to the office of the Vice President of Projects
              more than twice.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Projects shall, with the advice and consent of the Executive
              Committee, create the membership and application process by the second week of the
              semester.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Projects shall, with the advice and consent of the Executive
              Committee, determine project team compositions.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Projects shall be responsible for maintaining faithful and
              strong relations with past, present, and future collaborating organizations.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Projects shall, with the consent of the Executive Committee,
              create chair positions in order to accomplish the appointed tasks. Chairs are
              considered active members but not members of the Executive Committee. The appointment,
              selection, and management of those chairs are the sole responsibility of the Vice
              President of Projects.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Projects shall be responsible for carrying out any other
              duties as consented upon by the Executive Committee.
            </li>
          </ol>
        <br>
        <h3 class="text-constitution-section"> Section 6: Vice President of Technology </h3>
          <ol>
            <li class="paragraph-font">
              The Vice President of Technology is responsible for maintaining the technologies
              of Blueprint. The Vice President of Technology is the principle advisor and resource
              of technology for project groups.
            </li>
            <br>
            <li class="paragraph-font">
              No person shall be appointed to the office of the Vice President of Technology more than twice.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Technology shall provide resources, advice, and advisors for project groups.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Technology shall, with the consent of the Executive
              Committee, create chair positions in order to accomplish the appointed tasks.
              Chairs are considered active members but not members of the Executive Committee.
              The appointment, selection, and management of those chairs are the sole responsibility
              of the Vice President of Technology.
            </li>
            <br>
            <li class="paragraph-font">
              The Vice President of Technology shall be responsible for carrying out any other
              duties as consented upon by the Executive Committee.
            </li>
          </ol>
      <br>
      <h2 class="text-constitution-article"> ARTICLE V </h2>
        <h3 class="text-constitution-section"> Section 1 </h3>
          <ol>
            <li class="paragraph-font">
              The times, places, and manner of all meetings shall be prescribed by the
              Executive Committee.
            </li>
            <br>
            <li class="paragraph-font">
              Every meeting shall have an agenda created by the meeting facilitator
              which shall be sent out to meeting participants at least two days before
              the meeting.
            </li>
            <br>
            <li class="paragraph-font">
              All meetings shall appoint a scribe who shall keep a journal of the proceedings
              and make the journal available to the meeting participants within two days.
              The journal shall include, but is not limited to, description of decisions,
              ideas proposed, and members present.
            </li>
            <br>
            <li class="paragraph-font">
              Notification methods of all meetings shall be determined by the Executive
              Committee at the beginning of the semester.
            </li>
          </ol>
        <br>
        <h3 class="text-constitution-section"> Section 2 </h3>
          <ol>
            <li class="paragraph-font">
              The Executive Committee shall assemble at least once every week. A quorum
              for meetings is three Executive Committee members.
            </li>
            <br>
            <li class="paragraph-font">
              The general membership shall meet every other week. A quorum is two-thirds
              of the general membership. Decisions requiring input from the general
              membership shall be made during the general membership meeting.
            </li>
          </ol>
        <br>
        <h3 class="text-constitution-section"> Section 3 </h3>
          <ol>
            <li class="paragraph-font">
              Special emergency meetings shall be called on by the President of Blueprint
              for Executive Committee meetings.
            </li>
            <br>
            <li class="paragraph-font">
              Special emergency meetings shall, with three-fifths approval of the
              Executive Committee, be called on by the President of Blueprint for
              general membership meetings.
            </li>
          </ol>
      <br>
      <h2 class="text-constitution-article"> ARTICLE VI </h2>
        <h3 class="text-constitution-section"> Section 1 </h3>
          <p class="paragraph-font">
            The Executive Committee, whenever four-fifths of its members shall deem it
            necessary, shall propose Amendments to this Constitution, or, on the
            application of two-thirds of the total membership shall call a convention
            for proposing Amendments, which, in either case, shall be valid to all intents
            and purposes, as part of this Constitution, when ratified by three fourths of
            the total membership.
          </p>
        <br>
        <h3 class="text-constitution-section"> Section 2 </h3>
          <p class="paragraph-font">
            All Amendments, additions or deletions to this document must be filed with
            the LEAD Center in 102 Hearst Gym.
          </p>
      <br>
      <h2 class="text-constitution-article"> ARTICLE VII </h2>
        <h3 class="text-constitution-section"> Section 1 </h3>
          <p class="paragraph-font">
            The Executive Committee, whenever all of its members shall deem it necessary,
            shall propose the dissolution of this organization and Constitution. The
            dissolution shall be valid to all intents and purposes when ratified by all
            members of the Executive Committee and three-fourths of the non-executive membership.
          </p>
        <br>
        <h3 class="text-constitution-section"> Section 2 </h3>
          <p class="paragraph-font">
            All unspent ASUC funds shall remain the property of the ASUC; all Graduate
            Assembly funds shall remain the property of the Graduate Assembly. Remaining
            privately-obtained funds may be donated to another nonprofit organization with
            prior approval of the ASUC Senate Finance Committee.
          </p>
      <br>
      <h2 class="text-constitution-article"> ARTICLE VIII </h2>
        <h3 class="text-constitution-section"> Section 1 </h3>
          <p class="paragraph-font">
            This Constitution shall be the supreme law of Blueprint.
          </p>
        <br>
        <h3 class="text-constitution-section"> Section 2 </h3>
          <p class="paragraph-font">
            All members of Blueprint shall be bound by contract and oath to support this
            Constitution until the end or termination of membership.
          </p>
        <br>
        <h3 class="text-constitution-section"> Section 3 </h3>
          <p class="paragraph-font">
            The Ratification of the five founding members of Blueprint shall be sufficient
            for the establishment of this Constitution.
          </p>
      <br>
      <p class="paragraph-font">
        Done in convention by the unanimous consent of the founding members present the
        third day of November in the year two thousand and twelve. In witness whereof we
        have hereunto subscribed our Names,
      </p>
      <dl>
        <dt class="paragraph-font">&nbsp;&nbsp;&nbsp;&nbsp; Jae Young Ryoo, President</dt>
        <dd><img src="assets/signatures_jay.png" class="img-constitution-signatures"/></dd>
        <dt class="paragraph-font">&nbsp;&nbsp;&nbsp;&nbsp; Kevin Kaiwen Gong, VP of Operations</dt>
        <dd><img src="assets/signatures_kevin.png" class="img-constitution-signatures"/></dd>
        <dt class="paragraph-font">&nbsp;&nbsp;&nbsp;&nbsp; Kenneth Gao, VP of Projects</dt>
        <dd><img src="assets/signatures_kenneth.png" class="img-constitution-signatures"/></dd>
        <dt class="paragraph-font">&nbsp;&nbsp;&nbsp;&nbsp; Noel Moldvai, VP of Technology</dt>
        <dd><img src="assets/signatures_noel.png" class="img-constitution-signatures"/></dd>
        <dt class="paragraph-font">&nbsp;&nbsp;&nbsp;&nbsp; Shirley Liu, VP of Marketing and Finance</dt>
        <dd><img src="assets/signatures_shirley.png" class="img-constitution-signatures"/></dd>
      </dl>
    </div><!--/.span8 -->
  </div><!--/.rowfluid -->
</div><!--/.container -->