.container.about.hide-767.container-with-text
  br/
  .row-fluid
    .span10.offset1
      p.blueprint-dark-blue.heading-mission
        ' Blueprint's mission is to make beautiful engineering accessible
        | and useful for those who create communities and promote public welfare.
  br/
  br/
  .row-fluid
    .span7.offset1
      h2.blueprint-dark-blue.featurette-heading-smaller Vision
      p.paragraph-font
        ' Blueprint envisions a world where the good, passionate, and visionary
        | have the biggest impact on our communities and society.
      br/
      h2.blueprint-dark-blue.featurette-heading-smaller History
      p.paragraph-font
        ' Blueprint was founded in late 2012 by Berkeley students who saw a fit
        ' between the talent of university students and the need of the community
        ' around them. Spring 2013 was our first semester operating at Berkeley,
        ' and our three projects were a great success. We look forward to continuing
        | our growth and improvement each and every semester.
      br/
      h2.blueprint-dark-blue.featurette-heading-smaller What We Do
      p.paragraph-font
        ' Blueprint is a non-profit organization aimed at bringing
        ' technologies to local nonprofit organizations that are making social
        ' change. We want to aid and be part of the group of community builders
        ' who are doing meaningful productive work.
        ' Each semester, teams of five students work with non-profit organizations to
        ' implement technologies for efficiency and accessibility. We work on web and mobile
        ' applications for our clients to help them address and solve some of their
        | systemic problems.
    .span3
      .well.sidebar-nav
        h4
          | Blueprint Facts
        dl
          dt Founded
          dd.paragraph-font-small November 3, 2012
          dd.paragraph-font-small
            a href="/blueprint_constitution.pdf"  Constitution
        br/
        dt Founders
        dd.paragraph-font-small Jae Young Ryoo
        dd.paragraph-font-small Kenneth Gao
        dd.paragraph-font-small Shirley Liu
        dd.paragraph-font-small Kevin Gong
        dd.paragraph-font-small Noel Moldvai
        br/
        dt Faculty Sponsors
        dd.paragraph-font-small David Patterson
        dd.paragraph-font-small Armando Fox
        dd
        br/
        dt Located
        dd.paragraph-font-small
          a href="http://www.berkeley.edu"  University of California, Berkeley
        br/
        dt Resources
        dd
          a href="https://github.com/calblueprint" = image_tag "Octocat.png", class: "img-link-icons fade-in"
          a href="https://www.facebook.com/CalBlueprint" = image_tag "f_logo.png", class: "img-link-icons fade-in"
      /! /.well
    /! /.span3
  /! /.row-fluid
/! /.container
