.container-fluid
  .row-fluid
    .span6.offset3.center
      h1.title.blueprint-dark-blue Sorry, the page you requested could not be found.
      p.error-description
        | Would you like to go back to the #{link_to "home page", root_path}?
      = image_tag "PAW_300x300.png", class: "gear spin-logo"
