<div class="container-fluid">
  <div class-"row">
    <div class="span12">
      <div id="hackathon-blueprint-presents">
        <h1>Blueprint Presents</h1>
        <h1>Save the Day</h1>
        <h1>Code for Good</h1>
        <h4>March 8 - 9 | Wozniak Lounge</h4>
        <%= link_to "Register Here", "http://google.com", class: "flat-button" %>
      </div>

      <div id="hackathon-beat-the-clock">

      </div>

      <div id="hackathon-theme">

      </div>

      <div id="hackathon-agenda">

      </div>

      <div id="hackathon-prizes">

      </div>

      <div id="hackathon-sponsors">

      </div>

      <div id="hackathon-idea-pitches">

      </div>

      <div id="hackathon-rsvp">

      </div>
    </div>
  </div>
</div>
