<div class="container-fluid">
  <div class-"row">
    <div class="span12">
      <h1>Blueprint Presents</h1>
      <h1>Save the Day</h1>
      <h1>Code for Good</h1>
      <h4>March 8 - 9 | Wozniak Lounge</h4>
      <%= link_to "Register Here", "http://google.com", class: "flat-button" %>
    </div>
  </div>
</div>
