<% hackathon_link = "http://www.eventbrite.com/e/save-the-day-code-for-good-hackathon-tickets-10455555849?utm_campaign=new_eventv2&utm_medium=email&utm_source=eb_email&utm_term=eventurl_text" %>
<div class="container-full">
  <div class="row-fluid">
    <div class="span12">
      <div class="hackathon">
        <div id="hackathon-blueprint-presents" class="hackathon-section center">
          <div class="hackathon-title">
            <%= image_tag "hackathon/super_blueprint.png", class: "medium-image offset-text" %>
            <h1 class="offset-text">Blueprint Presents</h1>
            <h1 class="offset-text">Save the Day</h1>
            <h1 class="offset-text">Code for Good</h1>
            <h4>March 8 - 9 | Wozniak Lounge</h4>
            <%= link_to "Register Here", hackathon_link, class: "flat-button inverted" %>
          </div>
        </div>

        <div id="hackathon-beat-the-clock" class="hackathon-section">
          <h1>Save the Date</h1>
          <h2>Beat the Clock</h2>

          <h2>Location | Wozniak Lounge Soda Hall</h2>
        </div>

        <div id="hackathon-theme" class="hackathon-section">
          <h1>Theme</h1>
        </div>

        <div id="hackathon-agenda" class="hackathon-section">
          <h1>Agenda</h1>
          <h3>Saturday, March 8th</h3>

          <h3>Sunday, March 9th</h3>
        </div>

        <div id="hackathon-prizes" class="hackathon-section">
          <h1>Prizes</h1>
        </div>

        <div id="hackathon-sponsors" class="hackathon-section">
          <h1>Sponsors</h1>
        </div>

        <div id="hackathon-idea-pitches" class="hackathon-section">
          <h1>Idea Pitches</h1>
        </div>

        <div id="hackathon-rsvp" class="hackathon-section">
          <h1>RSVP</h1>
          <%= link_to "Click Here", hackathon_link, class: "flat-button" %>

          <h3>Terms and Conditions</h3>
        </div>
      </div>
    </div>
  </div>
</div>
