.container
  .row-fluid
    .span12
      .banner=image_tag "hackathon_large.jpg"

  .row-fluid
    .span7
      .row-fluid
        .span12
          %h2.text-heading-yellow.featurette-heading-small Information
          %h2.text-heading-blue.featurette-heading-smallest Time
          %p.paragraph-font.large
            Begins Saturday, <b>November 2nd</b> at 6 pm
            %br Ends Sunday, <b>November 3rd</b> at 12 pm
          %h2.text-heading-blue.featurette-heading-smallest Venue
          %p.paragraph-font.large
            Wozniak Lounge, Soda Hall
            %br UC Berkeley Campus
      %br
      .row-fluid
        .span12
          %h2.text-heading-yellow.featurette-heading-small Description
          %p.paragraph-font.large
            "Save the Day, Code for Good," co-hosted by <b>Blueprint</b> and <b>IEEE</b>, is a 12-hour (+1 daylight savings hour!) hackathon designed around building technology that will have a positive impact on our community, both locally and globally. Participants will be encouraged to refer to the provided list of non-profit organizations with technological necessities shared at the hackathon, so that their product may address real-world issues that non-profit organizations have.
          %p.paragraph-font.large
            Participants will spend the Saturday night until the next morning at Woz, coding and designing what may be the beginning of a product that could help our society be a better place. The aim of this event is to provide a platform for programmers to come together to build and learn how to build technologies that can be used for social good.
          %p.paragraph-font.large
            Projects can be hardware, software (mobile/web), or anything other technology of your choosing.
      .row-fluid
        .span12
          %h2.text-heading-yellow.featurette-heading-small Agenda

          %h2.text-heading-blue.featurette-heading-smallest Saturday, Nov. 2, 2013
          .paragraph-font.large
            6 pm: Sign-in/Team Formation
            %br 7 pm: Sponsor Presentations
            8 pm: Hackathon Begins/Dinner

          %h2.text-heading-blue.featurette-heading-smallest Sunday, Nov. 3, 2013
          .paragraph-font.large
            1 am: Late Night Snack
            %br 2 am: Daylight Savings! (+1 hour)
            8 am: Breakfast/Presentation
            %br 11 am: Winners Announced
    .span4.offset1
      .well.sidebar-nav
        %h2.text-heading-yellow.featurette-heading-small Sponsors
        .logo=image_tag "logo_salesforce.png"
        .logo=image_tag "logo_stripe.png"
        %br
        %br
        .logo=image_tag "logo_ea.png"
        %br
