<div id="blueprint-berkeley-bg">
  <div class="container-wrapper">
    <div class="container">
      <div class="row">
        <div class="span8 offset2 top-buffer center">
          <h1 class="home-page-info lato-bold">Build Technology that improves the world.</h1>
          <%= link_to "Apply Now", new_application_path, class: "flat-button" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="blueprint-support">
  <div class="container">
    <div class="row">
      <h1 class="center uppercase lato" id="blueprint-support-text">Blueprint seeks<br> to support...</h1>
      <div class="span4 center">
        <%= image_tag "people.png", class: "medium-icon" %>
        <h4 class="uppercase lato medium-size">Community</h4>
        <div class="line"></div>
        <p class="lato">
          This is not the text you're looking for.
        </p>
      </div>
      <div class="span4 center">
        <%= image_tag "community.png", class: "medium-icon" %>
        <h4 class="uppercase lato medium-size">Society</h4>
        <div class="line"></div>
        <p class="lato">
          This is also the text you are not looking for.
        </p>
      </div>
      <div class="span4 center">
        <%= image_tag "world.png", class: "medium-icon" %>
        <h4 class="uppercase lato medium-size">Culture</h4>
        <div class="line"></div>
        <p class="lato">
          And this text is just not here at all.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="infosessions">
  <p class="infosessions center">
    <span class="uppercase">Learn More:</span><br>
    Wednesday, January 29th at 7pm in HP Auditorium<br>
    Thursday, January 30th at 7pm in 141 Giannini
  </p>
</div>
