<div id="blueprint-berkeley-bg"></div>
<div class="container">
  <div class="row">
    <div class="span8 top-buffer">
      <h1 class="home-page-info">Build Technology that helps improve the world.</h1>

      <p class="infosessions">
        Learn more:<br>
        Wednesday, January 29th at 7pm in HP Auditorium<br>
        Thursday, January 30th at 7pm in 141 Giannini
      </p>

      <h1 class="home-page-info">OR</h1>

      <%= link_to "Apply Now", new_application_path, class: "apply-now" %>
    </div>
  </div>
</div>
