<div id="blueprint-berkeley-bg">
  <div class="container-wrapper">
    <div class="container">
      <div class="row">
        <div class="span8 offset2 top-buffer center">
          <h1 class="home-page-info montserrat">Build Technology that improves the world.</h1>
          <%= link_to "Apply Now", new_application_path, class: "apply-now" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="blueprint-support">
  <div class="container">
    <div class="row">
      <h1 class="center uppercase oswald" id="blueprint-support-text">Blueprint seeks<br> to support...</h1>
      <div class="span4 center">
        <%= image_tag "people.png", class: "medium-icon" %>
        <h4 class="uppercase oswald-light medium-size">Community</h4>
      </div>
      <div class="span4 center">
        <%= image_tag "community.png", class: "medium-icon" %>
        <h4 class="uppercase oswald-light medium-size">Society</h4>
      </div>
      <div class="span4 center">
        <%= image_tag "world.png", class: "medium-icon" %>
        <h4 class="uppercase oswald-light medium-size">Culture</h4>
      </div>
    </div>
  </div>
</div>
