<html lang="en">
  <head>
  </head>
  <body>
    <div class="container">
      <h1 class="featurette-heading-blue">Join Blueprint</h1>
      <br>
      <br>
      <div class="row-fluid">
        <div class="span9">
          <h2 class="text-heading-yellow featurette-heading-small">Application</h2>
          <p class="paragraph-font">
            Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process.
            <br>
            <br>
            For recruiting inquiries, please email Kevin Gong at
            <u><%= mail_to("kevinkgong@gmail.com", "kevinkgong@gmail.com") %></u>.
          </p>
          <a class="btn" href='http://www.google.com'>Go to Application</a>
          <p></p>
        </div>
        <div class="span3">
          <div class="well sidebar-nav">
            <h4>Recruiting Schedule</h2>
            <dl>
              <dt>First Info Session</dt>
              <dd class="paragraph-font-small">Date: TBA</dd>
              <dd class="paragraph-font-small">Location: TBA</dd>
              <br>
              <dt>Second Info Session</dt>
              <dd class="paragraph-font-small">Date: TBA</dd>
              <dd class="paragraph-font-small">Location: TBA</dd>
              <br>
              <dt>Application Deadline</dt>
              <dd class="paragraph-font-small">Saturday 2/2, 12:00 pm</dd>
              <br>
              <dt>Code Challenge</dt>
              <dd class="paragraph-font-small">Wednesday 2/6, 6:00 pm</dd>
              <br>
              <dt>Interviews</dt>
              <dd class="paragraph-font-small">Friday 2/8, 6:00 pm</dd>
            </dl>
          </div><!--/.well -->
        </div><!--/.span3 -->
      </div><!--/.row-fluid -->
    </div><!--/.container -->
  </body>
  <hr class="featurette-divider">
</html>