<div class="container join">
  <div class="row-fluid">
    <div class="span7 offset1">
      <h2 class="text-heading-yellow featurette-heading-small">Student Application</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span7 offset1">
      <p class="paragraph-font">
          Thank you for your interest in Blueprint. We love your enthusiasm!
          Please <a href="https://www.facebook.com/calblueprint">like</a> us on Facebook and email us at <%= mail_to("team@calblueprint.org", "team@calblueprint.org")%>.
      </p>
      <img src="assets/blueprint_retreat.png" alt="" class="photo">
    </div>
    <div class="span3">
      <div class="well sidebar-nav">
        <h4>Recruiting Schedule</h2>
        <p class="paragraph-font-small">
          Applications will open early Fall 2013 Semester.
        </p>
        <img src="assets/PAW_300x300.png" class="gear spin-logo"/>
      </div><!--/.well -->
    </div><!--/.span3 -->
  </div>
  <hr class="featurette-divider">
  <div class="row-fluid">
    <div class="span7 offset1">
      <h2 class="text-heading-yellow featurette-heading-small">Organization Application</h2>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span7 offset1">
      <p class="paragraph-font">
        Thank you for your interest in Blueprint. We love your enthusiasm!
        Please <a href="https://www.facebook.com/calblueprint">like</a> us on Facebook and email us at <%= mail_to("team@calblueprint.org", "team@calblueprint.org")%>.
      </p>
      <img src="assets/blueprint_github.png" alt="" class="photo">
    </div>
    <div class="span3">
      <div class="well sidebar-nav">
        <h4>Application Schedule</h2>
        <p class="paragraph-font-small">
          Applications will open during the Summer.
        </p>
        <br>
        <h4>Business Solutions</h2>
        <p class="paragraph-font-small">If you are interested in business strategy consulting, please checkout our partner organization <a href="http://theberkeleygroup.org/clients">The Berkeley Group</a>.
        </p>
        <img src="assets/PAW_300x300.png" class="gear spin-logo"/>
      </div><!--/.well -->
    </div><!--/.span3 -->
  </div>
</div><!--/.container -->