<div class="container">
<br>
<div class="row-fluid">
  <div class="span7 offset1">
    <h2 class="text-heading-yellow featurette-heading-small">Student Application</h2>
      <p class="paragraph-font">
        Thank you for your interest in Blueprint. We love your enthusiasm!
        Unfortunately Blueprint is not ready yet to accept applications.
        Please <a href="https://www.facebook.com/calblueprint">like</a> us on Facebook to be notified as soon as it is up!
      </p>
    <hr class="featurette-divider">
    <h2 class="text-heading-yellow featurette-heading-small">Organization Application</h2>
      <p class="paragraph-font">
        Thank you for your interest in Blueprint. We love your enthusiasm!
        Please <a href="https://www.facebook.com/calblueprint">like</a> us on Facebook and email us at <%= mail_to("calblueprint@gmail.com", "calblueprint@gmail.com")%>.
      </p>
  </div>
  <div class="span3">
    <div class="well sidebar-nav">
      <h4>Recruiting Schedule</h2>
      <dl>
        <dt>First Info Session</dt>
        <dd class="paragraph-font-small">
          Monday January 28, 7:00pm <br>
          <a href="http://goo.gl/maps/LmsX8"> 405 Soda Hall </a>
        </dd>
        <br>
        <dt>Second Info Session</dt>
        <dd class="paragraph-font-small">
          Thursday January 31, 7:00pm <br>
          <a href="http://goo.gl/maps/Trlk3"> 110 Wheeler Hall </a>
        </dd>
        <br>
        <dt>Application Deadline</dt>
        <dd class="paragraph-font-small">Sunday February 3, 11:59pm</dd>
        <br>
        <dt>Code With Blueprint</dt>
        <dd class="paragraph-font-small">
          Thursday February 7, TBA <br>
          <a href="https://www.youtube.com/watch?feature=player_embedded&v=u8qgehH3kEQ"> TBA </a>
        </dd>
      </dl>
    </div><!--/.well -->
  </div><!--/.span3 -->
</div><!--/.row-fluid -->

<hr class="featurette-divider">
</div><!--/.container -->