.container.join
  .row-fluid
    .span7.offset1
      %h2.text-heading-yellow.featurette-heading-small Student Application
  .row-fluid
    .span7.offset1
      %p.paragraph-font
        Thank you for your interest in Blueprint. We love your enthusiasm!
        Please
        %a{:href => "https://www.facebook.com/calblueprint"} like
        us on Facebook and email us at #{mail_to("team@calblueprint.org", "team@calblueprint.org")}.
      =image_tag "blueprint_fall_2013_beach.jpg", class: "photo"
    .span3
      .well.sidebar-nav
        / %h4
        /   Recruiting Schedule
        / %p.paragraph-font.black
        /   %b Info Session 1
        /   %br Thurs, September 5th
        /   7 - 9 PM
        /   %br HP Auditorium
        / %p.paragraph-font.black
        /   %b Info Session 2
        /   %br Mon, September 9th
        /   7 - 9 PM
        /   %br 220 Wheeler
        %p.paragraph-font.black
          / %b Applications are now closed for Fall 2013. Thank you for your interest, and see you in the Spring!
          / %br
          / %br
          Applications are now open for Spring 2014 and are due on
          %b Saturday, February 1st at 11:59pm.
        .apply-btn-container
          = link_to "Apply Now!", new_application_path, class: "flat-button"
        =image_tag "PAW_300x300.png", class: "gear spin-logo"
  %hr
  %br
  .row-fluid
    .span7.offset1
      %h2.text-heading-yellow.featurette-heading-small Organization Application
  .row-fluid
    .span7.offset1
      %p.paragraph-font
        Thank you for your interest in Blueprint. We love your enthusiasm!
        Please
        %a{:href => "https://www.facebook.com/calblueprint"} like
        us on Facebook and email us at #{mail_to("team@calblueprint.org", "team@calblueprint.org")}.
      %img.photo{:alt => "", :src => "https://s3.amazonaws.com/blueprint-prod/images/blueprint_github.png"}/
    .span3
      .well.sidebar-nav
        %h4
          Application Schedule
        %p.paragraph-font.black
          Applications for Spring 2014 are now closed. Fall 2014 applications will open during the summer.
          / .apply-btn-container
          / .btn.btn-primary.apply-btn= link_to "Apply now!", "http://projectportal.herokuapp.com/"

        %br
        %h4
          Business Solutions
        %p.paragraph-font.black
          If you are interested in business strategy consulting, please checkout our partner organization
          = succeed "." do
            %a{:href => "http://theberkeleygroup.org/clients"} The Berkeley Group
        =image_tag "PAW_300x300.png", class: "gear spin-logo"
