<div class="container marketing">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="featurette-heading-blue">Projects by Blueprint</h1>
      <p class="text-heading-yellow heading-mission">
        Coming Soon
      </p>
    </div>
  </div>

  <hr class="featurette-divider">


  <div class="featurette">
    <img class="featurette-image pull-right spin-logo" src="assets/paw.png">
    <h2 class="featurette-heading">First Project <span class="muted">by Blueprint</span></h2>
    <p class="lead">Coming Soon</p>
  </div>

  <hr class="featurette-divider">
</div><!-- /.container marketing -->