<div class="container">
  <div class="row">
    <div class="span12">
      <h1 class="montserrat uppercase blueprint-dark-blue center">Projects</h1>

      <% @projects.each do |project| %>
        <div class="span4">
          <%= link_to project do %>
            <%= image_tag project.image.url %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
