<html lang="en">
  <head>
  </head>
  <body>
    <div class="container marketing">
      <h1 class="featurette-heading-blue">Projects by Blueprint</h1>
      <p class="text-heading-yellow heading-mission">
        Coming Soon
      </p>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="assets/paw.png">
        <h2 class="featurette-heading">First Project <span class="muted">by Blueprint</span></h2>
        <p class="lead">Coming Soon</p>
      </div>

      <hr class="featurette-divider">
    </div><!-- /.container marketing -->
  </body>
  <hr class="featurette-divider">
</html>