<div class="container project">
  <div class="row-fluid">
    <div class="span10 offset1">
      <br>
      <h2 class="text-heading-yellow featurette-heading-small">Projects</h2>
      <% @projects.each do |project| %>
        <div class="project-item">
          <div class="row-fluid">
            <div class="span3">
              <a class="project-image">
                <%= image_tag project.image.url %>
              </a>
            </div>
            <div class="span9">
              <div class="project-content">
                <h1 class="project-title text-heading-white"><%= project.title %></h1>
                <h4 class="project-client text-heading-white"><%= project.client %></h4>
              </div>
            </div>
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>
  <hr class="featurette-divider">
</div>