<div class="container sponsors">
  <div class="row-fluid">
    <div class="span10 offset1">
        <p class="text-heading-yellow heading-mission">
          How To Sponsor
        </p>
        <p class="paragraph-font">
          Thank you for your interest in Blueprint!
          Please <a href="https://www.facebook.com/CalBlueprint">like</a>
          us on Facebook, and email us at <%= mail_to("team@calblueprint.org", "team@calblueprint.org")%>
          to get more information.
        </p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row-fluid">
    <div class="span10 offset1">

      <h2 class="text-heading-yellow featurette-heading-small">Gold Sponsors</h2>
      <% @gold_sponsors.each do |row| %>
        <div class="row-fluid">
          <% row.each do |sponsor| %>
            <div class="span4">
              <a href="<%= sponsor.link %>">
                <%= image_tag sponsor.image.url %>
              </a>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row-fluid">
    <div class="span10 offset1">

      <h2 class="text-heading-silver featurette-heading-small">Silver Sponsors</h2>
      <div class="row-fluid">
        <div class="span2">
          <img src="assets/paw_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/paw_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/paw_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/paw_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/paw_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/paw_silver.png"/>
        </div>
      </div>    </div><!-- /.span8 offset2 -->
  </div><!-- /.row fluid -->

  <hr class="featurette-divider">

  <div class="row-fluid">
    <div class="span10 offset1">

      <h2 class="text-heading-silver featurette-heading-small">Partners</h2>
      <div class="row-fluid">
        <div class="span2">
          <img src="assets/paw_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/paw_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/paw_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/paw_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/paw_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/paw_silver.png"/>
        </div>
      </div>    </div><!-- /.span8 offset2 -->
  </div><!-- /.row fluid -->

  <hr class="featurette-divider">

</div><!-- /.container-fluid sponsors -->