<div class="container-fluid sponsors">
  <div class="row-fluid">
    <div class="span10 offset1">
      <h1 class="featurette-heading-blue">Support Blueprint</h1>
      <br>
      <br>
        <p class="text-heading-yellow heading-mission">
          How To Sponsor
        </p>
        <p class="paragraph-font">
          Thank you for your interest in Blueprint!
          Please <a href="https://www.facebook.com/CalBlueprint">like</a>
          us on Facebook, and email us at <%= mail_to("calblueprint@gmail.com", "calblueprint@gmail.com")%>
          to get more information.
        </p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row-fluid">
    <div class="span10 offset1">

      <h2 class="text-heading-yellow featurette-heading-small">Gold Sponsors</h2>
      <div class="row-fluid">
        <div class="span4">
          <img src="assets/paw_gold.png"/>
        </div>
        <div class="span4">
          <img src="assets/paw_gold.png"/>
        </div>
        <div class="span4">
          <img src="assets/paw_gold.png"/>
        </div>
        <div class="span4">
          <img src="assets/paw_gold.png"/>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <img src="assets/paw_gold.png"/>
        </div>
        <div class="span4">
          <img src="assets/paw_gold.png"/>
        </div>
        <div class="span4">
          <img src="assets/paw_gold.png"/>
        </div>
        <div class="span4">
          <img src="assets/paw_gold.png"/>
        </div>
      </div>
    </div>
  </div><!-- /.row-fluid -->
  <hr class="featurette-divider">

  <div class="row-fluid">
    <div class="span10 offset1">

      <h2 class="text-heading-silver featurette-heading-small">Silver Sponsors</h2>
      <div class="row-fluid">
        <div class="span2">
          <img src="assets/sponsor_logo_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/sponsor_logo_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/sponsor_logo_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/sponsor_logo_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/sponsor_logo_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/sponsor_logo_silver.png"/>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span2">
          <img src="assets/sponsor_logo_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/sponsor_logo_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/sponsor_logo_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/sponsor_logo_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/sponsor_logo_silver.png"/>
        </div>
        <div class="span2">
          <img src="assets/sponsor_logo_silver.png"/>
        </div>
      </div>
    </div><!-- /.span8 offset2 -->
  </div><!-- /.row fluid -->
  
<hr class="featurette-divider">

</div><!-- /.container-fluid sponsors -->