<div class="container-fluid team">
  <div class="row-fluid">
    <div class="span10 offset1">
      <h1 class="featurette-heading">The Team</h1>

      <% @team.each do |row| %>
        <div class="row-fluid">
          <%= render :partial => 'member', :collection => row %>
        </div>
      <% end %>

    </div><!--/.span-12 -->
  </div> <!--/.row-fluid -->
</div><!--/.container-team -->