<div class="container-fluid team">
  <div class="row-fluid">
    <div class="span10 offset1">
      <br>
      <br>

      <% @team.each do |row| %>
        <div class="row-fluid">
          <%= render :partial => 'member', :collection => row %>
        </div>
      <% end %>

    </div><!--/.span-12 -->
  </div> <!--/.row-fluid -->
<hr class="featurette-divider">

</div><!--/.container-team -->