<div class="container-fluid team">
  <div class="row-fluid">
    <div class="span10 offset1">
      <h1 class="featurette-heading">The Team</h1>
      <div class="row-fluid">

        <div class="span2">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <img src="http://dl.dropbox.com/u/21016878/jay_ryoo.jpg" alt="">
              </div>
              <div class="back">
                <div class="infobox-executive">
                  <h2 class="text-heading-white text-left">Jae Young Ryoo</h2>
                  <p class="text-heading-white text-small text-left">CS & MCB<br> Class of 2013</p>
                  <br>
                  <br>
                  <br>
                  <h5 class="text-heading-white text-right">President</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="span2">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <img src="http://dl.dropbox.com/u/21016878/kevin_gong.jpg" alt="">
              </div>
              <div class="back">
                <div class="infobox-executive">
                  <h2 class="text-heading-white text-left">Kevin Gong</h2>
                  <p class="text-heading-white text-small text-left">CS<br> Class of 2014</p>
                  <br>
                  <br>
                  <br>
                  <h5 class="text-heading-white text-right">VP Of Operations</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="span2">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <img src="http://dl.dropbox.com/u/21016878/shirley_liu.jpg" alt="">
              </div>
              <div class="back">
                <div class="infobox-executive">
                  <h2 class="text-heading-white text-left">Shirley Liu</h2>
                  <p class="text-heading-white text-small text-left">Business<br> Class of 2013</p>
                  <br>
                  <br>
                  <br>
                  <h5 class="text-heading-white text-right">VP Of Marketing & Finance</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="span2">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <img src="http://dl.dropbox.com/u/21016878/kenneth_gao.jpg" alt="">
              </div>
              <div class="back">
                <div class="infobox-executive">
                  <h2 class="text-heading-white text-left">Kenneth Gao</h2>
                  <p class="text-heading-white text-small text-left">Bio Engineering<br> Class of 2013</p>
                  <br>
                  <br>
                  <br>
                  <h5 class="text-heading-white text-right">VP Of Projects</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="span2">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <img src="http://dl.dropbox.com/u/21016878/noel_moldvai.jpg" alt="">
              </div>
              <div class="back">
                <div class="infobox-executive">
                  <h2 class="text-heading-white text-left">Noel Moldvai</h2>
                  <p class="text-heading-white text-small text-left">EECS<br> Class of 2013</p>
                  <br>
                  <br>
                  <br>
                  <h5 class="text-heading-white text-right">VP Of Technology</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span2">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <img src="http://dl.dropbox.com/u/21016878/omer_spillinger.jpg" alt="">
              </div>
              <div class="back">
                <div class="infobox-chair">
                  <h2 class="text-heading-white text-left">Omer Spillinger</h2>
                  <p class="text-heading-white text-small text-left">EECS*<br> Class of 2013</p>
                  <br>
                  <br>
                  <br>
                  <h5 class="text-heading-white text-right">Technology Chair</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <img src="http://dl.dropbox.com/u/21016878/michelle_chow.jpg" alt="">
              </div>
              <div class="back">
                <div class="infobox-pl">
                  <h2 class="text-heading-white text-left">Michelle Chow</h2>
                  <p class="text-heading-white text-small text-left">CS & Business<br> Class of 2013</p>
                  <br>
                  <br>
                  <br>
                  <h5 class="text-heading-white text-right">Project Leader</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <img src="http://dl.dropbox.com/u/21016878/brian_wong.jpg" alt="">
              </div>
              <div class="back">
                <div class="infobox-pl">
                  <h2 class="text-heading-white text-left">Brian Wong</h2>
                  <p class="text-heading-white text-small text-left">CS<br> Class of 2013</p>
                  <br>
                  <br>
                  <br>
                  <h5 class="text-heading-white text-right">Project Leader</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="span2">
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <img src="http://dl.dropbox.com/u/21016878/joshua_primas.jpg" alt="">
              </div>
              <div class="back">
                <div class="infobox-pl">
                  <h2 class="text-heading-white text-left">Joshua Primas</h2>
                  <p class="text-heading-white text-small text-left">CS<br> Class of 2013</p>
                  <br>
                  <br>
                  <br>
                  <h5 class="text-heading-white text-right">Project Leader</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="span2">
          <a href="<%=join_path%>">
            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
              <div class="flipper">
                <div class="front">
                  <img src="assets/gray_box.jpg" alt="">
                </div>
                <div class="back">
                  <div class="infobox-red">
                    <h1 class="text-heading-white">This Could Be You!</h1>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div><!--/.span-12 -->
  </div> <!--/.row-fluid -->
</div><!--/.container-team -->