<div class="container-fluid team">
  <div class="row-fluid">
    <div class="span10 offset1">
      <br>
      <br>
      <div class="row-fluid">
        <% @team.each do |row| %>
            <%= render :partial => 'member', :collection => row %>
        <% end %>
      </div>
    </div><!--/.span-12 -->
  </div> <!--/.row-fluid -->
<hr class="featurette-divider">

</div><!--/.container-team -->