/ .container-full
/   .row-fluid
/     .span12
/       .hackathon
/         #hackathon-blueprint-presents.hackathon-section.center
/           #hackathon-blueprint-presents-inner
/             .hackathon-title
/               #hackathon-icon
/                 = image_tag "hackathon/super_blueprint.png", class: "medium-image hackathon-main-image"
/               #hackathon-main-text
/                 h1
/                   span.blueprint-font
/                     span.blueprint-dark-blue> blue
/                     | print
/                   span.white-color.uppercase.hackathon-presents Presents
/                 h1.large-title.uppercase Save the Day
/                 h1.large-title.uppercase Code for Good
/               h4.medium-title.wide-spacing.bottom-spacing March 8 - 9 | Wozniak Lounge
/               = link_to "Register Here", '#', class: "flat-button inverted"

iframe src="http://bit.ly/hack-dfg" style="position:fixed; top:60px; left:0px; bottom:0px; right:0px; width:100%; height:93%; border:none; margin:0; padding:0; overflow:hidden; z-index:1;"
