<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <div class="hack-main-details">
        <div class="hack-photo">
          PHOTOS
        </div>

        <div class="hack-info">
          <div class="hack-name">
            NAME
          </div>

          <div class="hack-description">
            DESCRIPTION
          </div>
        </div>
      </div>

      <div class="hack-tags">
        TAGS
      </div>

      <div class="hack-people">
        PEOPLE
      </div>

      <div class="hack-links">
        LINKS
      </div>

      <div class="hack-submit">
        SUBMIT
      </div>

    </div>
  </div>
</div>
