.container
  .row
    .span6.offset3
      .hack-form
        h1.uppercase.blueprint-dark-blue.center Submit your hack!
        = render partial: "shared/form_errors", locals: {errors: @hack.errors}
        = nested_form_for @hack do |f|
          .hack-main-details
            .hack-info
              .hack-name
                = f.label :title, "Hack Title *"
                = f.text_field :title
              .hack-description
                = f.label :description, "Tell us about your awesome hack! *"
                = f.text_area :description, rows: 10
          .hack-tags
            = f.label :tags, "Add tags that describe your hack! (comma separated) *"
            = f.text_field :tag_list
          .hack-people
            = f.label :hackers
            = f.fields_for :students do |fs|
              .hacker
                = fs.label :name, "Name *"
                = fs.text_field :name
                = fs.label :email, "Email *"
                = fs.text_field :email
                .remove-hacker-container
                  = fs.link_to_remove "Remove this hacker", class: "flat-button"
            = f.link_to_add "Add a hacker", :students, class: "flat-button"
          .hack-links
            = f.label :demo, "Demo Link *"
            = f.text_field :demo
            = f.label :github, "Github Repo"
            = f.text_field :github
            = f.label :video_link, "Link to Video"
            = f.text_field :video_link
          .hack-photo
            - @hack.hack_photos.each_with_index do |photo, index|
              = f.fields_for :hack_photos, photo do |pp|
                = pp.label :image, "Screenshot of your hack! *"
                = pp.file_field :image, style: "display:none", id: "hack-screenshot"
                input#hack-photo-text.input-large type="text" /
                .browse-for-photo
                  a.flat-button onclick="$('input[id=hack-screenshot]').click();"  Browse
          .hack-submit
            = f.submit "Submit", class: "flat-button submit-button"
javascript:
  | $('input[id=hack-screenshot]').change(function() {
    | $('#hack-photo-text').val($(this).val());
  | });
