.container
  .row.all-projects
    .span12
      h1.uppercase.blueprint-dark-blue.center.title
        | Hacks from #{@hackathon.name}
      - @hacks.each_slice(3) do |slice|
        .row.project-row
          - slice.each do |hack|
            .span4
              div class=("project #{'hack-winner' if hack.won_something?}") 
                = link_to hackathon_hack_path(hackathon_url: @hackathon.url, url: hack.url) do
                  .project-text
                    h4.award.uppercase= hack.award
                    h2.project-title= hack.title
                    h4.hack-type
                      | By: #{hack.hacker_names}
                  - if hack.has_image?
                    = image_tag hack.image.url, class: "project-image"
