.container
  .row
    .span6.offset3
      .hack-submission
        .hack-main-info
          h1.uppercase.blueprint-dark-blue.center.title= @hack.title
          - if @hack.won_something?
            h4.project-app-type.uppercase.lato.center= @hack.award
          h4.project-app-type.uppercase.lato.center= @hack.tag_list.to_sentence
        .project-line
        .hack-description
          p.single-project-text
            = @hack.description
        .center
          = link_to "Link to Demo", @hack.demo, class: "flat-button", target: "_blank"
        .screenshots
          - @hack.hack_photos.each do |photo|
            .individual-screenshot
              = image_tag photo.image.url
