.spin-logo {
    -webkit-transition: -webkit-transform 1s ease-in-out;
       -moz-transition:    -moz-transform 1s ease-in-out;
         -o-transition:      -o-transform 1s ease-in-out;
            transition:         transform 1s ease-in-out;
}
.spin-logo:hover {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
}​

.contact .text-center {
  text-align: center;
}

.contact .text-silver {
  color: #C0C0C0;
}

.contact .text-red {
  color: #b94a48;
}

.contact .text-yellow {
  color: #c09853;
}

.contact .text-large {
  font-size: 25px;
}

.contact .three_gear_one{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  max-width: 60%;

}
.contact .three_gear_two{
  display: block;
  margin-left: auto;
}

.contact .three_gear_three{
  margin-right: auto; 
  display: block;
  max-width: 60%;
}

.contact .text-field{
  width: 90%;
}