h2 {
	font-size:150%;
}

.flash_error {
	background: #ff0000; /* Old browsers */
	background: -moz-linear-gradient(left, #ff0000 0%, #ff6060 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff0000), color-stop(100%,#ff6060)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ff0000 0%,#ff6060 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ff0000 0%,#ff6060 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ff0000 0%,#ff6060 100%); /* IE10+ */
	background: linear-gradient(to right, #ff0000 0%,#ff6060 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff6060',GradientType=1 ); /* IE6-9 */
    color: black;
}

.flash_notice {
	background: #25e000; /* Old browsers */
	background: -moz-linear-gradient(left,  #25e000 0%, #8af47c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#25e000), color-stop(100%,#8af47c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #25e000 0%,#8af47c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #25e000 0%,#8af47c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #25e000 0%,#8af47c 100%); /* IE10+ */
	background: linear-gradient(to right,  #25e000 0%,#8af47c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25e000', endColorstr='#8af47c',GradientType=1 ); /* IE6-9 */
    color: black;
}
/*
label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
*/

input[type="checkbox"] {
	margin-top: 1px;
}

input[type='radio'] {
  margin-top: -4px;
}

.field_with_errors {
  display: inline-block;
}

.apply-btn {
  margin: 0px auto 10px;
  a {
    color: white;
  }
}
.apply-btn-container {
  text-align: center;
}

.container {

}