$blueprint-blue: rgb(27, 117, 188);

$light-blue: rgb(167, 188, 232);
$really-light-blue: rgb(208, 221, 243);
$medium-blue: rgb(162, 184, 227);
$really-medium-blue: rgb(170, 192, 235);

$blue-yellow: rgb(168, 159, 139);
$light-blue-yellow: rgb(218, 217, 210);

$off-yellow: rgb(242, 176, 38);
$light-yellow: rgb(249, 223, 164);
$off-light-yellow: rgb(244, 239, 227);
$yellow: rgb(253, 177, 27);

$white: #FFFFFF;

.hackathon {
  .hackathon-section {
    min-height: 700px;

    h1, h2, h3, h4, h5 {
      margin-top: 0px;
      font-weight: 300;
    }

    .hackathon-title {
      padding-top: 100px;

      #hackathon-icon {
        display: inline-block;

        .hackathon-main-image {
          margin-top: -180px;
          margin-right: 40px;
        }
      }

      #hackathon-main-text {
        display: inline-block;

        .large-title {
          letter-spacing: 10px;
          font-size: 60px;
          line-height: 80px;
          font-weight: 700;
        }
      }

      .medium-title {
        font-size: 40px;
        line-height: 50px;
      }

      .wide-spacing {
        letter-spacing: 10px;
      }

      .offset-text {
        display: inline-block;
      }
    }

    .hackathon-clock-inner {
      padding: 50px;
      background-color: $really-light-blue;
    }

    .hackathon-times {
      background-color: $really-medium-blue;
    }

    .hackathon-location {
      padding: 50px;
      background-color: $really-light-blue;
    }
  }

  #hackathon-blueprint-presents {
    padding: 50px 0px;
    min-height: 600px;
    background-color: $blueprint-blue;

    #hackathon-blueprint-presents-inner {
      background-color: $medium-blue;
      min-height: 600px;

      .hackathon-title {
        padding-bottom: 15px;
      }
    }
  }

  #hackathon-theme {
    background-color: $really-medium-blue;

    #hackathon-theme-inner {
      padding: 50px;

      #hackathon-theme-inner-border {
        padding: 50px;
        background-color: $white;

        .hackathon-theme-text {
          font-size: 40px;
          line-height: 50px;
        }
      }
    }
  }

  #hackathon-agenda {
    padding: 50px;
    background: -webkit-linear-gradient($really-medium-blue, $blue-yellow);
    background: -o-linear-gradient($really-medium-blue, $blue-yellow);
    background: -moz-linear-gradient($really-medium-blue, $blue-yellow);
    background: linear-gradient($really-medium-blue, $blue-yellow);

    #hackathon-agenda-inner {
      padding: 50px;
      background: -webkit-linear-gradient($really-light-blue, $light-blue-yellow);
      background: -o-linear-gradient($really-light-blue, $light-blue-yellow);
      background: -moz-linear-gradient($really-light-blue, $light-blue-yellow);
      background: linear-gradient($really-light-blue, $light-blue-yellow);

      #hackathon-agenda-top {

      }

      #hackathon-agenda-bottom {
        text-align: right;
      }
    }
  }

  #hackathon-prizes {
    padding-top: 50px;
    padding-bottom: 50px;
    background: -webkit-linear-gradient($blue-yellow, $off-yellow);
    background: -o-linear-gradient($blue-yellow, $off-yellow);
    background: -moz-linear-gradient($blue-yellow, $off-yellow);
    background: linear-gradient($blue-yellow, $off-yellow);

    #hackathon-prizes-inner {
      padding-left: 50px;
      padding-right: 50px;
      background: -webkit-linear-gradient($light-blue-yellow, $light-yellow);
      background: -o-linear-gradient($light-blue-yellow, $light-yellow);
      background: -moz-linear-gradient($light-blue-yellow, $light-yellow);
      background: linear-gradient($light-blue-yellow, $light-yellow);

      #hackathon-prizes-trophy-text {
        display: inline-block;
        padding: 150px 25px;
        width: 200px;
        background-color: $off-light-yellow;

        .trophy-image {
          width: 100px;
        }
      }

      #hackathon-prizes-winners {
        display: inline-block;

        .winners {
          .winner-image {
          }
        }
      }
    }
  }

  #hackathon-sponsors {
    #hackathon-sponsors-inner {
      padding-top: 50px;
      padding-bottom: 50px;
      background-color: $off-yellow;

      #hackathon-sponsors-inner-border {
        padding: 50px;
        background-color: $light-yellow;

        #hackathon-sponsors-title {
          background-color: $off-light-yellow;
          width: 300px;
          padding: 25px;
          margin: auto;
          text-align: center;
        }

        #sponsor-images {
          margin-top: 100px;

          .sponsor-image {
            width: 75%;
          }
        }
      }
    }
  }

  #hackathon-idea-pitches {
    padding: 50px 0px;
    background-color: $off-yellow;

    #hackathon-idea-pitches-inner {
      padding: 50px;
      height: 400px;
      background-color: $light-yellow;
    }
  }

  #hackathon-rsvp {
    padding: 50px 0px;
    background-color: $off-yellow;

    #hackathon-rsvp-inner {
      padding: 50px;
      background-color: $light-yellow;
    }

    #hackathon-terms {
      margin-top: 50px;
    }
  }
}
