// Place all the styles related to the join controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrap {
	width:1000px;
	margin: 0;

	#main {
		float:left;
		width:550px;
		margin-right:100px;
	}
	#sidebar {
		float:right;
		width:350px;
	}
}
.emails {
  font-size: 14px;
  line-height: 13px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
}

.join .btn-application {
  height: 80px;
  line-height: 50px;
  font-size: 30px;
}