$white: #FFFFFF;

.white {
  color: $white;
}

.large-icon {
  font-size: 2em;
}

a .single-line {
  display: block;
}

.center {
  text-align: center;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.no-bullets {
  list-style-type: none;
}

.medium-image {
  width: 300px;
}

.flat-button {
  display: inline-block;
  padding: 15px 60px;
  border: 0;
  text-shadow: none;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #FFF;
  background-color: rgb(27, 117, 188);
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  top: 0;
  font-size: 16px;
  font-weight: 700;
}

.inverted {
  color: rgb(27, 117, 188);
  background-color: #FFF;
}
