// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
	.textfield {
  	width:400px;
	}
	.radio {
		display: block;
		vertical-align: middle;
		label {
			display: inline;
			padding: 3px 1em 0 0;
		}
		radio_button {
			display: block;
		}
	}
}