 /* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */


/* Remove border and change up box shadow for more contrast */
.hackathon {
  background-color: #41A6C0;
  color: white;
  a {
    color: white;
  }
}

.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25);
  /* background: rgb(240,240,240); */
  background: #ffffff;
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 15px 20px 10px; /* Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

/* Spin logo on hover */
.navbar .nav-logo {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
       -moz-transition:    -moz-transform 0.5s ease-in-out;
         -o-transition:      -o-transform 0.5s ease-in-out;
            transition:         transform 0.5s ease-in-out;
}

.navbar .nav-logo:hover {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
}

/* Navbar links: increase padding for taller navbar */
.navbar {
  border-bottom: 1px solid #e1e1e1;
}

.navbar, .navbar-inner, .nav {
  height: 80px;
}

.navbar .nav > li > a {
  padding: 28px 15px;
  font-size: 16px;
}

.navbar .full-logo {
  max-height: 20px;
  max-width: 150px;
  margin-top: 8px;
  margin-left: 15px;
}

.navbar .application-btn {
  display: none;
  width: 50px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 5px;
}

.brand-small {
  max-height: 10px;
  max-width: 10px;
}


.nav .signin {
  opacity: 0;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.signin:hover,
.signin:focus {
  opacity:1;
}


@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
  }

  .navbar .gear-logo {
    display: none;
  }
  .navbar .full-logo {
    display: inline;
  }
  .navbar .application-btn {
    display: inline-block;
  }

  .navbar .brand {
    padding-top: 12px;
  }

}
