// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
/* Links
-------------------------------------------------- */

a:link {
  text-decoration:none;
}      /* unvisited link */
a:visited {
  text-decoration:none;
}  /* visited link */
a:hover {
  text-decoration:none;
}  /* mouse over link */
a:active {
  text-decoration:none;
}  /* selected link */

/* Fade In
-------------------------------------------------- */
.fade-in {
  -webkit-transition:opacity .5s ease-out;
  -moz-transition:opacity .5s ease-out;
  -ms-transition:opacity .5s ease-out;
  -o-transition:opacity .5s ease-out;
  transition:opacity .5s ease-out;
  opacity:0.5;
}

.fade-in:hover {
  opacity:1;
}

/* Icon sizes
-------------------------------------------------- */
.img-link-icons { width: 50px; height: 50px; }
.img-constitution-signatures { width: 200px; height: 50px; }

/* Customize the row fluid for TEAM
-------------------------------------------------- */
.team .span2 {
  width: 19%;
  *width: 19%;
  margin-left: 1%;
  margin-bottom: 0.5%;
  margin-right: 0;
  max-height: 250px;
  max-width: 250px;
}

.team .profile {
  max-height: 220px;
  max-width: 220px;
}

.sponsors .span4 {
  width: 24%;
  *width: 24%;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-right: 0;
  max-height: 400px;
  max-width: 400px;
}
.sponsors .span2 {
  width: 16%;
  *width: 16%;
  margin-left: .66%;
  margin-bottom: .66%;
  margin-right: 0;
  max-height: 400px;
  max-width: 400px;
}

.team .infobox-executive {
  background-color: #3a87ad;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -10px;
  height: 200px;
  width: 190px;
}

.team .infobox-chair {
  background-color: #468847;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -10px;
  height: 200px;
  width: 190px;
}

.team .infobox-pl {
  background-color: #c09853;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -10px;
  height: 200px;
  width: 190px;
}

.team .infobox {
  background-color: #C0C0C0;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -10px;
  height: 200px;
  width: 190px;
}
.team .infobox-red {
  background-color: #b94a48;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -10px;
  height: 200px;
  width: 190px;
}

.team .text-center {
  text-align: center;
}

.team .text-left {
  text-align: left;
}

.team .text-right {
  text-align: right;
}

/* Customize the fonts for About including Constitution
-------------------------------------------------- */
.paragraph-font {
  font-size: 15px;
  font-weight: 300;
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
}


.paragraph-font-small {
  font-size: 15px;
  font-weight: 400;
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
}

.text-constitution-article {
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
  color: #3a87ad;
}

.text-constitution-section {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
  color: #c09853;
}

.constitution .text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-heading-yellow {
  color: #c09853;
}

.text-heading-blue {
  color: #3a87ad;
}
.text-heading-silver {
  color: #C0C0C0;
}

.text-heading-black {
  color: black;
}

.text-heading-white {
  color: white;
}

.text-smaller{
  font-size: 15px;
}

.text-small{
  font-size: 18px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading-small {
  font-size: 35px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading-smaller {
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading-blue {
  color: #3a87ad;
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.heading-mission {
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}

#wrap {
  width:1000px;
  margin: 0;

  #main {
    float:left;
    width:550px;
    margin-right:100px;
  }
  #sidebar {
    float:right;
    width:350px;
  }
}