// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

body {
  padding-bottom: 10px;
}
/* Links
-------------------------------------------------- */

a:link {
  text-decoration:none;
}      /* unvisited link */
a:visited {
  text-decoration:none;
}  /* visited link */
a:hover {
  text-decoration:none;
}  /* mouse over link */
a:active {
  text-decoration:none;
}  /* selected link */

/* Fade In
-------------------------------------------------- */
.fade-in {
  -webkit-transition:opacity .5s ease-out;
  -moz-transition:opacity .5s ease-out;
  -ms-transition:opacity .5s ease-out;
  -o-transition:opacity .5s ease-out;
  transition:opacity .5s ease-out;
  opacity:0.5;
}

.fade-in:hover {
  opacity:1;
}

/* Icon sizes
-------------------------------------------------- */
.img-link-icons { width: 50px; height: 50px; }
.img-constitution-signatures { width: 200px; height: 50px; }

/* Customize the fonts for Pages
-------------------------------------------------- */
.paragraph-font {
  font-size: 15px;
  font-weight: 300;
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
}


.paragraph-font-small {
  font-size: 15px;
  font-weight: 400;
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
}

.text-constitution-article {
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
  color: #3a87ad;
}

.text-constitution-section {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1px;
  color: #c09853;
}

.constitution .text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-heading-yellow {
  color: #c09853;
}

.text-heading-blue {
  color: #3a87ad;
}
.text-heading-silver {
  color: #C0C0C0;
}

.text-heading-black {
  color: black;
}

.text-heading-white {
  color: white;
}

.text-heading-red {
  color: #b94a48;
}

.text-smaller {
  font-size: 15px;
}

.text-small {
  font-size: 18px;
}
.heading-mission {
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
}

.project-feed {
  margin-top: 30px;
  font-family: "Georgia";

  .project-view {
    margin-top: 15px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    padding-bottom: 10px;
  }

  .project-image {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
    width: 20%;

    img {
      display: block;
      margin: auto;
    }
  }

  .project-content {
    display: inline-block;
    margin-top: 10px;
    max-width: 70%;

    .project-title {
      font-weight: bold;
      font-size: 25px;
      margin: 5px;
    }

    .project-client {
      margin: 5px;
    }

    .project-description {
      margin: 5px;
      font-size: 10px;
    }
  }
}