/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading-small {
  font-size: 35px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading-smaller {
  font-size: 30px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading-smallest {
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  margin-top: 20px;
}

.featurette-heading-blue {
  color: #3a87ad;
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading-yellow {
  color: #c09853;
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.project .project-title{
}


.project .project-item{
  height: 100px;
  overflow: hidden;
  background-color: #3a87ad;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.project .project-image{
  display: block;
}

.project-image > img {
  display: block;
  max-width: 100%;
  max-height: 250px;
  margin-right: auto;
  margin-left: auto;
}
.project .project-description{
  display: block;
}

.project .project-content{
  display: block;
  margin-right: 20px;
  margin-left:20px;
}

.project .project-description-font{
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .project-image > img {
    max-height: 300px;
  }
  .project .project-item{
    height: auto;
    max-height: 100%;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
}
