/* Customize the row fluid for Support
-------------------------------------------------- */
.sponsors .span4 {
  width: 24%;
  *width: 24%;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-right: 0;
  max-height: 400px;
  max-width: 400px;
}
.sponsors .span2 {
  width: 16%;
  *width: 16%;
  margin-left: .66%;
  margin-bottom: .66%;
  margin-right: 0;
  max-height: 400px;
  max-width: 400px;
}
