<h1>Join Blueprint</h1>

<div id="wrap">

	<div id="main">		<!--css in join.css.scss-->
		<h2>Application</h2>
		<p>Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process. Here is a description of Blueprint's recruiting process.</p>
		<br>
		<a class="btn" href='http://www.google.com'>Go to Application</a>
		<p>For recruiting inquiries, please email Kevin Gong at <u><%= mail_to("kevinkgong@gmail.com", "kevinkgong@gmail.com") %></u>.</p>

	</div>

	<div id="sidebar">
		<h2>Recruiting Schedule</h2>
		<p><b>First Info Session</b>
			<br>Date: TBA
			<br>Location: TBA
		</p>
		<p><b>Second Info Session</b>
			<br>Date: TBA
			<br>Location: TBA
		</p>
		<p><b>Application Deadline</b>
			<br>Saturday 2/2, 12:00 pm
		</p>
		<p><b>Code Challenge</b>
			<br>Wednesday 2/6, 6:00 pm
		</p>
		<p><b>Interviews</b>
			<br>Friday 2/8, 6:00 pm
		</p>
	</div>

</div>