= form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email, :class => 'text_field'
  - if prompt_password
    .control-group
      = f.label :password, :class => 'control-label'
      .controls
        = f.password_field :password, :class => 'password_field'
    .control-group
      = f.label :password_confirmation, "Confirm Password", :class => 'control-label'
      .controls
        = f.password_field :password_confirmation, :class => 'password_field'
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :year, :class => 'control-label'
    .controls
      = f.text_field :year, :class => 'text_field'
  .control-group
    = f.label :major, :class => 'control-label'
    .controls
      = f.text_field :major, :class => 'text_field'
  .control-group
    = f.label :site, :class => 'control-label'
    .controls
      = f.text_field :site, :class => 'text_field'
  .control-group
    = f.label :facebook_id, "Facebook E-mail", :class => 'control-label'
    .controls
      = f.text_field :facebook_id, :class => 'text_field'
  p This is the e-mail you use for Facebook sign in. If it's the same as your Blueprint login, you can leave it blank.
  - if current_user.is_admin
  - # So this isn't really sustainable, maybe in the future, limit it to "a few semesters back + the ability to add previous semesters"
    = f.fields_for :roles, @user.roles do |role_fields|
      - semester = Semester.find(role_fields.object.semester_id)
      .control-group
        = f.label semester.full_name, class: "control-label"
        .controls
          - if @user.role_for_semester(semester)
            = role_fields.select :name, @positions, selected: @user.role_for_semester(semester).name, class: "text_field"
          - else
            = role_fields.select :name, @positions, selected: "Not a Member", class: "text_field"
          = role_fields.hidden_field :semester_id, value: semester.id
  .control-group
    = f.label :photo, :class => 'control-label'
    .controls
      = f.file_field :image, :class => 'file_field'
  /!
    | <div class="controls"
    | <haml:loud> image_tag @user.image.url(:medium) </haml:loud
    | </div
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), \
      admin_users_path, :class => 'btn'                            \
