<div class="header-top">
  <%= image_tag "blueprint_top.png" %>
  <div class="blueprint-logo">
    <h1 class="blueprint-font large-logo-font"><span class="blueprint-dark-blue">blue</span>print</h1>
    <h4 class="sub-blueprint-font sub-logo-font uppercase">Technology For Non-Profits</h4>
    <%= image_tag "PAW_300x300.png", class: "gear spin-logo medium" %>
  </div>
</div>
