<div class="separate-position">
  <ul class="nav">
    <%= render partial: "shared/signin_button", locals: {navbar: false} %>
  </ul>
</div>

<div class="header-top">
  <%= image_tag "blueprint_top.png", class: "click-header" %>
  <div class="blueprint-logo click-header">
    <h1 class="blueprint-font large-logo-font"><span class="blueprint-dark-blue">blue</span>print</h1>
    <h4 class="sub-blueprint-font sub-logo-font uppercase">Technology For Non-Profits</h4>
    <div class="logo-image click-header">
      <%= image_tag "PAW_300x300.png", class: "gear spin-logo medium" %>
    </div>
    <%= link_to "#", class: "click-header" do %>
    <div class="home-page-arrows blueprint-dark-blue">
      <i class="icon-chevron-down large-icon single-line first"></i>
      <i class="icon-chevron-down large-icon single-line second"></i>
      <i class="icon-chevron-down large-icon single-line third"></i>
    </div>
    <% end %>
  </div>
</div>
